<div class="contenedor-imagen">
    <div class="imagen-redonda">
        <img src="../assets/img/foto_mia.jpg" alt="Imagen de mi persona">
    </div>
</div>

<div class="container">
    <h1 class="titulo-seccion">Carlos Emmanuel Jerez</h1>
    <p class="subtitulo-seccion">Desarrollador FullStack Trainee</p>
</div>

<div class="redes">
    <a href="" class="git"><i class="fa-brands fa-github fa-icon-margin">
        </i> GitHub <i class="fa-solid fa-arrow-up-right-from-square fa-icon-margin"></i></a>
    <a href="" class="linkedin"><i class="fab fa-linkedin fa-icon-margin">
        </i> Linkedin <i class="fa-solid fa-arrow-up-right-from-square fa-icon-margin"></i></a>
    <a href="" class="cv"><i class="fa-solid fa-file-pdf fa-icon-margin">
        </i> Currículum <i class="fa-solid fa-arrow-up-right-from-square fa-icon-margin"></i></a>
</div>

<div class="contenedor">
    <div class="izquierda">
        <h3 class="titulo-seccion-izquierda">Información Personal</h3>
        <div class="texto-seccion">
            <p>Desarrollador FullStack</p>
            <p>
                Nombre: Tu Nombre <br>
                Edad: Tu Edad
            </p>
        </div>
    </div>
    <div class="derecha">
        <h3 class="titulo-seccion">Habilidades</h3>
        <div class="habilidades-fila">
            <div class="habilidad">
                <img src="../assets/img/js-p.png" alt="icono javascript">
                <p>Javascript</p>
            </div>
            <div class="habilidad">
                <img src="../assets/img/ts-p.png" alt="icono typescript">
                <p>Typescript</p>
            </div>
            <div class="habilidad">
                <img src="../assets/img/python-p.png" alt="icono python">
                <p>Python</p>
            </div>
            <div class="habilidad">
                <img src="../assets/img/html-p.png" alt="icono html">
                <p>Html</p>
            </div>
            <div class="habilidad">
                <img src="../assets/img/css-p.png" alt="icono css">
                <p>Css</p>
            </div>
            <div class="habilidad">
                <img src="../assets/img/angular-p.png" alt="icono angular">
                <p>Angular</p>
            </div>
        </div>
    </div>
</div>